
#dialog_gouwuche .el-dialog__body{
    font-size: 0.5rem;
    padding: 0px;
    margin: 0px;

}
#dialog_gouwuche .el-dialog--small {
    width: 94%;
}
#dialog_gouwuche .el-dialog__header {
    margin: 0;
    padding: 0.1rem 0.2rem;
    border-bottom: 1px solid gray;
    /*height: 1rem;*/

}
#dialog_gouwuche .el-dialog__title {
    line-height: 1;
    font-size: 0.45rem;
    font-weight: 100;
    color: #1f2d3d;
}
.el-dialog--tiny {
    width: 90%;
}
 #dialog_form .el-dialog__header {
     padding: 20px 20px 0;
}